*.bak
ModelSim/*.*
!ModelSim/*.do
!ModelSim/*.mpf
ModelSim/work/*
!ModelSim/work/_info
!ModelSim/*.reg
Quartus/*
!Quartus/*.qpf
!Quartus/*.qsf
!Quartus/*.sdc
!Quartus/*.srf
GHDL/*
!GHDL/*.bat
!GHDL/*.gtkw
Assembler/*
!Assembler/*.txt
!Assembler/*.h
!Assembler/*.c
!Assembler/*.dev
!Assembler/*.vhd
!Assembler/*.e80asm
Gowin/impl/*
!Gowin/impl/Gowin_process_config.json
Gowin/Gowin.gprj.user
desktop.ini
Installer/ExtrasIgnore/
Installer/*.exe
Vivado/*
!Vivado/E80.sdc
!Vivado/E80.xpr
