*.bak
ModelSim/*.*
!ModelSim/*.do
!ModelSim/*.mpf
ModelSim/work/*
!ModelSim/work/_info
!ModelSim/*.reg
Boards/Quartus_DSDi1/*
!Boards/Quartus_DSDi1/*.qpf
!Boards/Quartus_DSDi1/*.qsf
!Boards/Quartus_DSDi1/*.sdc
!Boards/Quartus_DSDi1/*.srf
GHDL/*
!GHDL/*.bat
!GHDL/*.gtkw
Assembler/*
!Assembler/*.txt
!Assembler/*.h
!Assembler/*.c
!Assembler/*.dev
!Assembler/*.vhd
!Assembler/*.e80asm
Boards/Gowin_TangPrimer25K/impl/*
!Boards/Gowin_TangPrimer25K/impl/Gowin_process_config.json
Boards/Gowin_TangPrimer25K/Gowin.gprj.user
desktop.ini
Installer/ExtrasIgnore/
Installer/*.exe
Vivado/*
!Vivado/E80.sdc
!Vivado/E80.xpr
