*.bak
ModelSim/*.*
!ModelSim/*.do
!ModelSim/*.mpf
ModelSim/work/*
!ModelSim/work/_info
!ModelSim/*.reg
Quartus/*
!Quartus/*.qpf
!Quartus/*.qsf
!Quartus/*.sdc
!Quartus/*.srf
GHDL Scripts/*
!GHDL Scripts/*.bat
!GHDL Scripts/*.gtkw
Assembler/*
!Assembler/*.txt
!Assembler/*.h
!Assembler/*.c
!Assembler/*.dev
!Assembler/*.vhd
Gowin/impl/*
!Gowin/impl/Gowin_process_config.json
Gowin/Gowin.gprj.user
desktop.ini
Installer Extras/GHDL/
Installer Extras/GTKWave/
Installer Extras/*.exe
