// E80 Computer - Physical Constraints file
// Gowin V1.9.11.01 Education (64-bit)
// FPGA: GW5A-25 Version A (GW5A-LV25MG121NC1/I0)

IO_LOC "LED_rowC[7]" H5;
IO_PORT "LED_rowC[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowC[6]" H8;
IO_PORT "LED_rowC[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowC[5]" G7;
IO_PORT "LED_rowC[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowC[4]" F5;
IO_PORT "LED_rowC[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowC[3]" J5;
IO_PORT "LED_rowC[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowC[2]" H7;
IO_PORT "LED_rowC[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowC[1]" G8;
IO_PORT "LED_rowC[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowC[0]" G5;
IO_PORT "LED_rowC[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowB[7]" L5;
IO_PORT "LED_rowB[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowB[6]" K11;
IO_PORT "LED_rowB[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowB[5]" E11;
IO_PORT "LED_rowB[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowB[4]" A11;
IO_PORT "LED_rowB[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowB[3]" K5;
IO_PORT "LED_rowB[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowB[2]" L11;
IO_PORT "LED_rowB[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowB[1]" E10;
IO_PORT "LED_rowB[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowB[0]" A10;
IO_PORT "LED_rowB[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowA[7]" C11;
IO_PORT "LED_rowA[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowA[6]" B11;
IO_PORT "LED_rowA[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowA[5]" D11;
IO_PORT "LED_rowA[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowA[4]" G11;
IO_PORT "LED_rowA[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowA[3]" C10;
IO_PORT "LED_rowA[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowA[2]" B10;
IO_PORT "LED_rowA[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowA[1]" D10;
IO_PORT "LED_rowA[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_rowA[0]" G10;
IO_PORT "LED_rowA[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DIPinput[7]" H1;
IO_PORT "DIPinput[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[6]" K7;
IO_PORT "DIPinput[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[5]" L7;
IO_PORT "DIPinput[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[4]" L10;
IO_PORT "DIPinput[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[3]" L9;
IO_PORT "DIPinput[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[2]" J8;
IO_PORT "DIPinput[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[1]" F7;
IO_PORT "DIPinput[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "DIPinput[0]" J11;
IO_PORT "DIPinput[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "Mid" L8;
IO_PORT "Mid" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "Left" K9;
IO_PORT "Left" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "Right" K10;
IO_PORT "Right" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "Down" K8;
IO_PORT "Down" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "Up" F6;
IO_PORT "Up" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "Pause" J7;
IO_PORT "Pause" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "Reset" H2;
IO_PORT "Reset" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "CLK50MHz" E2;
IO_PORT "CLK50MHz" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;